body {
	font-family: Georgia, sans-serif;
	margin-left: 1em;
  
}

button {
  background: #99ddee; /*#203888;*/
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #000000; /*#ffffff;*/
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 0;
}


select {
	font-family: Georgia, sans-serif;
	margin-left: 0.2em;
}


span {
	margin-left: 2em;
}
